.cart-card {
  margin-top: 10px;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(103, 251, 66, 0.484);
  transition: transform 0.2s ease-out;
  /* background-color: rgba(223, 255, 127, 0.579); */
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.product-details{
  width: 90%;
}
.details2{
  /* justify-content: flex-end;
  align-items: center; */
  position: absolute;
  left: 78em;
}

.product-image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 25px;
}

.productName {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333333;
}

.productPrice {
  font-size: 23px;
  font-weight: 500;
  color: #03801ca9;
  position: absolute;
  left: 31em;
}
.productPricet {
  font-size: 23px;
  font-weight: 500;
  color: #03801c;
  position: absolute;
  left: 43em;
}

.product-quantity {
  font-size: 17px;
  color: #000000a4;
  font-weight: 500;
}

.cart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(32, 133, 1, 0.403);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-card {
  animation: fade-in 0.3s ease-out;
}

.cartIcon {
  margin-top: 5px;
}

.plusminus{
  padding: 2px;
  font-size: large;
  background-color: #03801c3f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}