.cart-card {
  margin-top: 10px;
  display: flex;
  /* align-items: center;
  flex-direction:row; */
  padding: 10px;
  /* margin-bottom: 20px; */
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(103, 251, 66, 0.484);
  transition: transform 0.2s ease-out;
  /* background-color: rgba(223, 255, 127, 0.579); */
  width: 100%;
}

.product-details{
  width: 100%;
}
.details2{
  /* display: flex; */
  /* margin-right: 5px; */
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
  /* left: 10px; */
}

.product-image {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 25px;
}

.productName {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333333;
}

.productPrice {
  margin-top: 12px;
  font-size: 23px;
  font-weight: 500;
  color: #2e8540;
}

.product-quantity {
  font-size: 17px;
  color: #000000a4;
  font-weight: 500;
}

.cart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-card {
  animation: fade-in 0.3s ease-out;
}

.cartIcon {
  margin-top: 5px;
}
