.description {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .kartica {  
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    grid-auto-rows: minmax(220px, auto);
    grid-gap: 40px;
} */