.navbar {
  height: 15vh;
  background-color: #2e5b36;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100%;
  padding: 10px;
}

.activeStyles {
  padding: 15px;
  text-decoration: none;
  background-color: #3bf631e1;
  border-radius: 15px;
  color: #000000;
}

.classicStyles {
  /* width: 220px; */
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #ffffff;
}

.sale{
  border: dotted 2px yellow;
}

.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
}

.cart-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 20, 20);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -3px;
}
.cart-icon:hover{
  color: #3bf631e1;
}